# python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# OS
.DS_Store

# data: non versionare sorgenti e derived di default
data/raw/
data/derived/**

# results: di solito no
results/**

# notebooks
.ipynb_checkpoints/

# logs
*.log

!data/sample/
!data/sample/**

!results/rests_sequences.json
!results/segmentation_report.json
!results/segmentation_report.md
